.bg-image {
  /* The image used */
  position: fixed;
  bottom: 0;
  right: 0;
  background-image: url("/bg.png");
  /* Add the blur effect */
  filter: blur(16px);
  -webkit-filter: blur(16px);

  /* Full height */
  height: 100vh; 
  width: 100vw;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}