@mixin break($length) {
    @media (min-width: $length) {
        @content;
    }
}

@mixin clearFix() {

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        display: block;
        clear: both;
        height: 1px;
        margin-top: -1px;
        visibility: hidden;
    }

    & {
        *zoom: 1;
    }
}